{% extends 'base.html' %}

{% block content %}
{% if question is None %}
You have already answered all of our questions.

{% else %}

<p>
    {{ question.html|safe }}
</p>

<form class="form" action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="question_pk" value="{{ question.pk }}">
    {% for choice in question.choices.all %}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="choice_pk" id="choice-{{ forloop.counter }}" value="{{ choice.pk }}">
      <label class="form-check-label" for="choice-{{ forloop.counter }}">
        {{ choice.html|safe }}
      </label>
    </div>

    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endif %}

{% endblock content %}