[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "==1.7.2"
django-model-utils = "==3.1.1"
pytz = "==2018.3"
Django = "==1.11.29"
Pillow = "==9.0.1"

[dev-packages]

[requires]
python_version = "3.8"
