{% extends 'base.html' %}

{% block content %}
{% if question is None %}

<div class="container">
  <div class="jumbotron">
    <h1> You have already answered all of our questions. </h1>
    <button type="button" class="btn btn-info btn-lg mr-1"><a href="{% url 'quiz:leaderboard' %}" class="text-white">See the leaderboard here</a></button>
  </div>
</div>

{% else %}

<div class="container">
  <div class="jumbotron">

    <h3 class="text-info"> {{ question.html|safe }}</h3>
    <form class="form" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="question_pk" value="{{ question.pk }}">
        {% for choice in question.choices.all %}
        <div class="form-check">
          <label class="custom-control custom-checkbox" for="choice-{{ forloop.counter }}">
            <input class="custom-control-input" type="checkbox" name="choice_pk" id="choice-{{ forloop.counter }}" value="{{ choice.pk }}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{ choice.html|safe }}</span>
          </label>
        </div>

        {% endfor %}
        <input class="btn btn-info btn-lg" type="submit" value="Submit">  
    </form>
  </div>
</div>
{% endif %}

{% endblock content %}