{% extends 'base.html' %}

{% block content %}
{% if question is None %}

<h1> You have already answered all of our questions. </h1>


{% else %}

<div class="container">
  <p>
    {{ question.html|safe }}
  </p>
<form class="form" action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="question_pk" value="{{ question.pk }}">
    {% for choice in question.choices.all %}
    <div class="form-check">
      <label class="form-check-label" for="choice-{{ forloop.counter }}">
        <input class="form-check-input" type="checkbox" name="choice_pk" id="choice-{{ forloop.counter }}" value="{{ choice.pk }}">
        {{ choice.html|safe }}
      </label>
    </div>

    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

</div>
{% endif %}

{% endblock content %}